<h1>Mood tracker</h1>

<div id="start-tracking">
<a href="/auth/signup">
    <button type="button" class="btn btn-primary">
        Start Tracking for Free
    </button>
</a>
</div>

<div id="get-help-now">
    <a href="/help/">
    <button type="button" class="btn btn-danger">
        Get Help Now    
    </button>
    </a>
</div>