<main id="landing">
    <h1 class="page-title" id="landing-title">Track Dat</h1>
    <h5 class="subtitle" id="landing-subtitle">a simple mood tracker</h5>
    <div id="start-tracking">
    <a href="/auth/signup">
        <button type="button" class="btn btn-dark btn-lg" style="background-color: #373b41">
            Start Tracking for Free
        </button>
    </a>
    </div>

    <div id="get-help-now">
        <a href="/help/">
        <button type="button" class="btn btn-danger btn-lg">
            Get Help Now    
        </button>
        </a>
    </div>
</main>