<main>
    <h1 class="page-title">Welcome back <%= user.name %>!</h1>
    <div id="button-links">
        <a href="/track/new">
            <button type="button" class="btn btn-dark" style="background-color: #373b41"">
                Track Moods
            </button>
        </a>
        <a href="/track/">
            <button class="btn btn-dark" style="background-color: #373b41" >
                Your Week
            </button>
        </a>
    </div>
    <a href="user/edit"><p class="edit-info">Edit Account Information</p></a>
</main>

