/* nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
} */

/* .chart img{
  max-width: 750px;
  max-height: auto;
} */

#myChart {
  max-width: 400px;
  max-height: auto;
}
main {
  padding: 20px 50px;
}

.form-control {
  max-width: 400px;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
}