<h1>Resources for Help Now</h1>
<br />
<div id="crisis-hotlines">
<h3>Suicide Prevention Lifeline</h3>
<h6>1-800-273-TALK (8255)</h6>
<h6>1-800-799-4889 (Deaf and Hard of Hearing)</h6>
<a href="https://suicidepreventionlifeline.org/chat/"><h6>Suicide Prevention Lifeline Chat</h6></a>
<br />
<h3>Trans Lifeline</h3>
<h6>1-877-565-8860</h6>
<br />
<h3>Crisis Text Line</h3>
<h6>Text 741741</h6>
</div>