<% let datesHere = dates %>
<% console.log(moods) %>
<% let re = new RegExp('[^0-9a-zA-Z]+') %>

<h1>DASHBOARD</h1>

<h3>Week View</h3>
<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    //console.log(`HERE IS THE EJS DATES ARRAY ${datesArrayPass}`)
    let clientDates = '<%- JSON.stringify(datesHere) %>';
    clientDates = clientDates.replace(/[\[\]"]+/g, '')
    clientDates = clientDates.split(',')
    console.log(clientDates)
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: clientDates,
            datasets: [{
                label: 'Anxiety',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 33, 44, 50, 10, 19, 11]
            }]
        },

        // Configuration options go here
        options: {}
    });
    // var chart = new Chart(ctx, {
    //     // The type of chart we want to create
    //     type: 'line',

    //     // The data for our dataset
    //     data: {
    //         labels: [1, 2],
    //         datasets: [{
    //             label: 'Anxiety',
    //             backgroundColor: 'rgb(255, 99, 132)',
    //             borderColor: 'rgb(255, 99, 132)',
    //             data: [0, 33, 44, 50, 10, 19, 11]
    //         }]
    //     },

    //     // Configuration options go here
    //     options: {}
    // });
</script>