
<% console.log(`HERE ARE THE DATES I HAVE : ${dates}`) %>
<% let anxietyArray = []%>
<%// const anxietyData = () => { %>
    <%// moods.forEach(m => { %>
        <%// let anxiousVals = m.dataValues.anxious%>
        <% //if(anxiousVals !== null) { %>
            <% // anxietyArray.push(anxiousVals) %>
            <% // } else { %>
                <%//anxietyArray.push(0)}%>
        <% //}) %>
        <% //}%>
    <% //anxietyData() %>
    <% //console.log(`ANXIETY ARRAY : ${anxietyArray}`) %>

<main>              
<h1>DASHBOARD</h1>

<h4>Your Week at a Glance</h4>
<canvas id="myChart"></canvas>

</main>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    //console.log(`HERE IS THE EJS DATES ARRAY ${datesArrayPass}`)
    let clientDates = '<%- JSON.stringify(dates) %>';
    let clientAnxiety = '<%- JSON.stringify(anxietyArray) %>';
    // remove the brackets and quotes from dates string and split into array
    clientDates = clientDates.replace(/[\[\]"]+/g, '');
    clientDates = clientDates.split(',');

    clientAnxiety = clientAnxiety.split(',').reverse();

    
    console.log(clientDates);
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: clientDates,
            datasets: [{
                label: 'Anxiety',
                backgroundColor: 'rgb(4, 200, 214)',
                borderColor: 'rgb(4, 95, 214)',
                data: clientAnxiety
            }]
        },

        // Configuration options go here
        options: {}
    });
        // var chart = new Chart(ctx, {
        //     // The type of chart we want to create
        //     type: 'line',
    
        //     // The data for our dataset
        //     data: {
        //         labels: [1, 2],
        //         datasets: [{
        //             label: 'Anxiety',
        //             backgroundColor: 'rgb(255, 99, 132)',
        //             borderColor: 'rgb(255, 99, 132)',
        //             data: [0, 33, 44, 50, 10, 19, 11]
        //         }]
        //     },
    
        //     // Configuration options go here
        //     options: {}
        // });
</script>