<main>
    <h1 class="page-title">Add or Update an Entry</h1><br />
<form action="/track/show" method="POST" id="tracker-entry">

    <label for="date"><h5>Date</h5></label><br />
    <input type="date" name="date" value="<%= today %>"></input>
    <br /><br />

    <div id="elevated">
        <label for="elevated"><h5>Elevated Mood</h5></label><br />
        <select class="custom-select" name="elevated">
            <option value="0">None</option>
            <option value="1">Mild</option>
            <option value="2">Moderate</option>
            <option value="3">Severe</option>
          </select>
    </div><br />

    <div id="depressed">
        <label for="depressed"><h5>Depressed</h5></label><br />
        <select class="custom-select" name="depressed">
            <option value="0">None</option>
            <option value="1">Mild</option>
            <option value="2">Moderate</option>
            <option value="3">Severe</option>
          </select>
    </div><br />

    <div id="irritable">
        <label for="irritable"><h5>Irritable</h5></label><br />
        <select class="custom-select" name="irritable">
            <option value="0">None</option>
            <option value="1">Mild</option>
            <option value="2">Moderate</option>
            <option value="3">Severe</option>
          </select>
    </div><br />
    
    <div id="anxious">
        <label for="anxious"><h5>Anxious</h5></label><br />
        <select class="custom-select" name="anxious">
            <option value="0">None</option>
            <option value="1">Mild</option>
            <option value="2">Moderate</option>
            <option value="3">Severe</option>
          </select>
    </div><br />

    <label for="number"><h5>Sleep</h5></label><br />
    <input type="number" step="0.5" name="sleep" value="0"></input><br /><br />
    <input type="submit" class="btn btn-primary"></input>
</form>
</main>